
body{
    background: #F4F6F8;
}
.btn-register{
    display: block;
    text-align: center;
}

.user-panel form{
    background-color: #fff;
    padding: 45px 30px;
    box-shadow: 0px 0px 5px 3px #e2e2e2;
}


/* --------------------------------------------
 * User panel style
 * -------------------------------------------- */
.user-panel{
    width: 400px;
    margin: 50px auto;
}